* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora;
}

.blog-card {
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  border-radius: 10px;
  width: 336px;
  padding: 16px;
  top: 10vh;
  left: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translate(-50%);
}

h1 {
  margin-top: 18px;
  font-weight: 500;
  font-size: 20px;
}

.card-text {
  font-size: 12pt;
  font-weight: 300;
}

.picture {
  border-radius: 10px;

  margin-bottom: 16px;
}

#button {
  border: none;
  margin-top: 6px;
  color: #883ae1;
  background-color: white;
  font-size: 10px;
}

#long-text {
  margin-top: 6px;
  margin-bottom: 20px;
  color: #20293a;
  font-weight: 200;
  font-size: 14px;
}

#author {
  font-weight: 200;
  margin-top: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
